<a href="https://colab.research.google.com/github/Agnes2510/SC/blob/main/SC_LAB_S1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("haloo")

In [ ]:
print(time.ctime())

Thu Feb  6 11:59:49 2025

In [ ]:
import time

In [ ]:
#print bisa dengna langsung menulisan variabel atau print ([variabel])

z = "hello"
y = 20
c = 30.8
f = ["apple", "berry"]

z, y, c, f
print (z, y, c, f)

hello 20 30.8 ['apple', 'berry']

In [ ]:
#casting = mengubah tipe data

o = int(1)
y = int(2.8)
z = int ("3")
j = str(20)

print (o, y, z, j)

1 2 3 20

In [ ]:
#menggabungkan 2 string

a = "HELLO"
b = " world"
c = a + b
print (c)

HELLO world

In [ ]:
#mengambil 1 huruf menggunakan index (array of)
#menghitung total array

a = "Hello World"
print (a[1])

print (len(a))

e
11

In [ ]:
#mengambil beberapa huruf menggunakan index (array of)
#dengan cara print (variabel[batas awal : batas akhir])

b = "BINUS Univ"
print (b[2 : 5])

c =  "BINUS Univ"
print (b[:5])

d = "BINUS Univ"
print (b[2:])

NUS
BINUS
NUS Univ

In [ ]:
#mengubah semua huruf kecil menjadi huruf besar
a = "Hello"
print (a.upper())

#mengubah semua huruf besar menjadi huruf kecil
b = "Hello"
print(b.lower())

#mengganti satu huruf
c="Hello"
print(a.replace("H", "J"))

HELLO
hello
Jello

In [ ]:
#print string gabung integer

nama = "Natasha"
x = 19
string = "nama saya {}, umur saya {}"
print (string.format(nama, x))

nama saya Natasha, umur saya 19

In [ ]:
#memberikan penomoran untuk setiap index yang terdapat pada string dengan perulangan for

nama = "Grace"
for i in enumerate(nama):
  print(i)

(0, 'G')
(1, 'r')
(2, 'a')
(3, 'c')
(4, 'e')

In [48]:
#def = membuat function baru

def perbandingan (a,b):
  #perbandingan (if, elif, else)
  if a > b:
    print ("a lebih besar dari b")
  elif a < b:
    print ("a kurang dari b")
  else:
    print ("a = b")

In [ ]:
#mencoba function perbandingan

perbandingan (4, 8)

a kurang dari b

In [ ]:
#perulangan menggunakan while
i = 1
while i < 6:
  print (i)
  i += 1

1
2
3
4
5

In [ ]:
#perulangan menggunakan for

i = 7
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
i = 2
while i <= 40:
  if i %2 == 0:
    print (i, "genap")
  elif i %2 == 1:
    print (i, "ganjil")
  i += 1

2 genap
3 ganjil
4 genap
5 ganjil
6 genap
7 ganjil
8 genap
9 ganjil
10 genap
11 ganjil
12 genap
13 ganjil
14 genap
15 ganjil
16 genap
17 ganjil
18 genap
19 ganjil
20 genap
21 ganjil
22 genap
23 ganjil
24 genap
25 ganjil
26 genap
27 ganjil
28 genap
29 ganjil
30 genap
31 ganjil
32 genap
33 ganjil
34 genap
35 ganjil
36 genap
37 ganjil
38 genap
39 ganjil
40 genap

In [ ]:
for i in range(2, 41):
  if i %2 == 0:
    print (i, "genap")
  elif i %2 == 1:
    print (i, "ganjil")

2 genap
3 ganjil
4 genap
5 ganjil
6 genap
7 ganjil
8 genap
9 ganjil
10 genap
11 ganjil
12 genap
13 ganjil
14 genap
15 ganjil
16 genap
17 ganjil
18 genap
19 ganjil
20 genap
21 ganjil
22 genap
23 ganjil
24 genap
25 ganjil
26 genap
27 ganjil
28 genap
29 ganjil
30 genap
31 ganjil
32 genap
33 ganjil
34 genap
35 ganjil
36 genap
37 ganjil
38 genap
39 ganjil
40 genap

In [49]:
#mengakese library numpy, diberikan inisial "ny"
#sehingga cukup menuliskan "ny" untuk mengakses library numpy
import numpy as np

In [50]:
y = np.array ([[1,2,3],
        [4,5,6]])
x = np.array([[6,5,4],
              [3,2,1]])

In [51]:
x + y

array([[7, 7, 7],
       [7, 7, 7]])

In [ ]:
data = np.array ([10, 9, 8, 7,6, 5])

print ("Rata-rata:", np.mean(data))
print ("Max: ", no.max(data))
print ("Min: ", np.min(data))
print ("Standar Deviasi: ", np.std(data))

NameError: name 'np' is not defined

In [34]:
def login():
  Username = "Agnes Giovanny"
  Password = "Admin123"

  while True:
      username = input("Masukkan username anda : ")
      password = input("Masukkan password anda : ")

      if (username == Username) and (password == Password):
        print (f"Login berhasil, Selamat datang {username} \n")
        break
      else:
        print ("Login gagal")

In [ ]:
def nilai (UAS, UTS, ASG):
  return (0.5 * UAS) + (0.3 * UTS) + (0.2 * ASG)

In [33]:
def grades (score) :
  if (score >= 90):
    return ("A")
  elif (score >= 85):
    return ("A-")
  elif (score >= 80):
    return ("B+")
  elif (score >= 75):
    return ("B")
  elif (score >= 70):
    return ("B-")
  elif (score >= 65):
    return ("C")
  elif (score >= 60):
    return ("D")
  elif (score >= 11):
    return ("E")
  else : return ("F")

In [46]:
def main ():
  login()

  namasiswa = input("Masukkan nama siswa : ")
  while True :
    nilaiUAS = float (input("Masukkan nilai UAS : "))

    if (nilaiUAS >= 0 and nilaiUAS <= 100):
      break
    else: print ("Nilai UAS harus antara 0 - 100")

  while True :
    nilaiUTS = float (input("Masukkan nilai UTS : "))

    if (nilaiUTS >= 0 and nilaiUTS <= 100):
      break
    else: print ("Nilai UTS harus antara 0 - 100")

  while True :
    nilaiASG = float (input("Masukkan nilai Assignment : "))

    if (nilaiASG >= 0 and nilaiASG <= 100):
      break
    else: print ("Nilai Assignment harus antara 0 - 100")

  score = nilai(nilaiUAS, nilaiUTS, nilaiASG)
  finalgrade = grades(score)

  print ("\n\n============================================")
  print (f"Hasil perolehan nilai {namasiswa}")
  print (f"Final Score: {score:.1f}")
  print (f"Grade: {finalgrade}")
  print ("============================================")

In [47]:
  if __name__ == "__main__":
    main()

Masukkan username anda : Agnes Giovanny
Masukkan password anda : Admin123
Login berhasil, Selamat datang Agnes Giovanny

Masukkan nama siswa : Reynard
Masukkan nilai UAS : 0
Masukkan nilai UTS : 0
Masukkan nilai Assignment : 0


============================================
Hasil perolehan nilai Reynard
Final Score: 0.0
Grade: F
============================================